In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Fish.csv')
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [3]:
#Create x and y variables
X = df.drop('Species', axis=1)
y = df['Species']

In [4]:
X.head()

   Weight  Length1  Length2  Length3   Height   Width
0   242.0     23.2     25.4     30.0  11.5200  4.0200
1   290.0     24.0     26.3     31.2  12.4800  4.3056
2   340.0     23.9     26.5     31.1  12.3778  4.6961
3   363.0     26.3     29.0     33.5  12.7300  4.4555
4   430.0     26.5     29.0     34.0  12.4440  5.1340

In [5]:
y.head()

0    Bream
1    Bream
2    Bream
3    Bream
4    Bream
Name: Species, dtype: object

In [6]:
# Train Test Split
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
pred=rf.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score
y_pred = rf.predict(X_test)
acu=accuracy_score(y_test,pred)
acu

NameError: name 'lr' is not defined

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

In [ ]:
# Create a Pickle file  
import pickle
pickle_out = open("Fish_LR.pkl","wb")
pickle.dump(lr, pickle_out)
pickle_out.close()

In [ ]:
rf.predict([[242.0,23.2,25.4,30.0,11.5200,4.0200]])